<%- include("../partials/header") %>

<div id="body-container">
  <% if (currentUser) { %>
    <% if (currentUser.trackedstocks.length === 0) { %>
  <div>
    <h1 class="header-black">Tracked Stocks <i onclick="togglePopup()" class="fa fa-plus float-right"></i></h1> 
    <div class="card-container card-center">
      Start tracking stocks now!
    </div>
  </div>
      
      <% } else { %>
  <div class="table-container">
    <h1 class="header-black">TRACKED STOCKS <i onclick="togglePopup()" class="fa fa-plus float-right"></i></h1> 
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th scope="col" class="first-th">Company Name</th>
          <th scope="col">Symbol</th>
          <th scope="col">Current Price</th>
          <th scope="col">Change(%)</th>
          <th scope="col">Change(USD)</th>
        </tr>
      </thead>
      <tbody>
        <% stocks.forEach(stock => { %>
        <tr title="More">
          <th scope="row">
            <div class="row-header">
              <span class="delete"> 
                <i class="fa fa-trash"></i> 
              </span> 
              <form class="d-none" action="/stocks/<%=currentUser._id%>/<%=stock._id%>?_method=DELETE"method="POST">
                <button type="submit" class="d-none" id ="deleteButton"></button>
              </form>
              <%=decodeURI(stock.name)%>
            </div>
          </th>
          <td class="symbol"><%=stock.symbol%></td>
          <td class="price"><%=Math.floor(stock.history[0].open/100)%>.<%=(stock.history[0].open)%100%></td>
          <td <% if (stock.history[0].changepercent < 0) { %>
            class="negative"><% } else { %> class="possitive" >+<%} %><%=stock.history[0].changepercent%>
          </td>
          <td <% if (stock.history[0].change < 0) { %>
            class="negative"><% } else { %> class="possitive">+<% } %><%=stock.history[0].change%>
            <span class="d-none"> 
              <a href="/stocks/<%=currentUser._id%>/<%=stock._id%>">
                <i class="fa-info"></i>
              </a>
            </span> 
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <div class="table-container margin-top-2rem">
    <h1 class="header-black">GRAPHS</h1>
    <% if (stocks.length > 0) { %>
      <% stocks.forEach(stock => { %>
        <canvas id="chart<%=stock.symbol%>" class="pb-3"></canvas>
        <script>
          var stockinfo = JSON.parse('<%- JSON.stringify(stock) %>');
          makeLineChart(stockinfo);
        </script>

        <!-- <div id="chart<%=stock.symbol%>" class="pb-3"></div>
        <script>
          var stockinfo = JSON.parse('<%- JSON.stringify(stock) %>');
          // var ctx = document.getElementById('chart<%=stock.symbol%>').getContext('2d');
          makeOHLCChart(stockinfo);
        </script>  -->

        <hr />

      <% }); %>
    <% } %>
  </div>
  <% } %>
</div>
<% } %>

<div class="popup" id="popup-search-bar">
  <div class="overlay">
    <div class="fa fa-times" onclick="togglePopup()"></div>
  </div>
  
  <div class="content">
    <form id="searchStockForm" action="/stocks/<%=currentUser._id%>" method="POST">
      <input
        id="searchKey"
        class="form-control mb-0"
        type="text"
        name="stock[symbol]"
        placeholder="Enter tick symbol"
        required
        autocomplete="off"
      />
      <div id="searchResult"></div>
    </form>
  </div>
</div>

<div class="popup" id="pageload">
  <div class="overlay"></div>
  <div class="content">
    <i class="fa-spin fa fa-spinner"></i>
    <div>Processing request...</div>
  </div>
</div>

<%- include("../partials/footer") %>
