<%- include("../partials/header") %>

<div id="dashboard-container">
  <% if (currentUser) { %>
    <% if (currentUser.trackedstocks.length === 0) { %>
      <div>
    <h1 class="header-black">Tracked Stocks <i onclick="togglePopup()" class="fa fa-plus header-fa"></i></h1> 

        <div class="empty-mes">
          Start tracking stocks now!
        </div>
      </div>
      
      <% } else { %>
  <div id="tracked-stocks">
    <!-- <a href="/stocks/<%=currentUser._id%>"><i class="fa fa-sync-alt header-fa"></i></a> -->
    <!-- <h1 class="header-black">Tracked Stocks <a href="/stocks/<%=currentUser._id%>/new"><i class="fa fa-plus header-fa"></i></a></h1>  -->
    <h1 class="header-black">Tracked Stocks <i onclick="togglePopup()" class="fa fa-plus header-fa"></i></h1> 
    
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th scope="col" class="first-th">Name</th>
          <th scope="col">Tick Symbol</th>
          <th scope="col">Current Price</th>
          <th scope="col">Change(%)</th>
          <th scope="col">Change(USD)</th>
          <th scope="col" class="last-th"></th>
        </tr>
      </thead>
      <tbody>
        <% stocks.forEach(stock => { %>
        <tr>
          <th scope="row">
            <div class="row-header">
              <span class="delete"> 
                <i class="fa fa-trash"></i> 
              </span> 
              <form class="d-none" action="/stocks/<%=currentUser._id%>/<%= stock._id%>?_method=DELETE"method="POST">
                <button type="submit" class="d-none" id ="deleteButton"></button>
              </form>
              <%=stock.name%>
            </div>
          </th>
          <td class="symbol"><%=stock.symbol%></td>
          <td class="price"><%=Math.floor(stock.price[0]/100)%>.<%=(stock.price[0])%100%></td>
          <td <% if (stock.changepercent[0] < 0) { %>
            class="negative" <% } else { %> class="possitive" <% } %>
            >
            <%=stock.changepercent[0]%>
          </td>
          <td <% if (stock.changepercent[0] < 0) { %>
            class="negative" <% } else { %> class="possitive" <% } %>
            >
            <%=stock.change[0]%>
          </td>
          <td>
            <span class="show"> 
              <a href="/stocks/<%=currentUser._id%>/<%=stock._id%>">
                <i class="text-dark fa fa-info"></i>
              </a>
            </span> 
            <!-- <input type="checkbox"> -->
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <div id="tracked-stocks">
    <h1 class="header-black">Graphs</h1>
    <% if (stocks.length > 0) { %>
    <% stocks.forEach(stock => { %>
    <canvas id="chart<%=stock.symbol%>"></canvas>
    <hr />
    <script>
      var stockinfo = JSON.parse('<%- JSON.stringify(stock) %>');
      var ctx = document.getElementById('chart<%=stock.symbol%>').getContext('2d');
      ctx.canvas.width = 1000;
      ctx.canvas.height = 350;
      var color;
      if (stockinfo.change[0] < 0) {
        color = ["#FF0000"];
        backgroundcolor = ["rgb(255, 0, 0, 0.2)"];
      } else {
        color = ["#3caea3"];
        backgroundcolor = ["rgb(98, 222, 208, 0.5)"];
      }
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: stockinfo.time.slice().reverse(),
          datasets: [
            {
              label: "Stock Price of " + stockinfo.symbol,
              data: stockinfo.price.slice().reverse().map(bigprice => (bigprice/100).toFixed(2)),
              borderColor: color,
              borderWidth: 2,
              // fill: false,
              backgroundColor: backgroundcolor ,
              lineTension: 0,
              pointRadius: 0.5,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  callback: function (value, index, values) {
                    return value + "$";
                  },
                  // stepSize: 1,
                },
                scaleLabel: {
                  display: true,
                  labelString: "Openning Price ($)",
                },
              },
            ],
            xAxes: [{}],
          },
        },
      });
    </script>
    <% }); %>
    <% } %>
  </div>
  <% } %>
</div>
<% } %>

<div id="test">

  <div class="popup" id="popup-1">

    <div class="overlay">
      <div class="fa fa-times" onclick="togglePopup()"></div>
    </div>
    
    <div class="content">
      <form action="/stocks/<%=currentUser._id%>" method="POST">
        <input
          id="searchStock"
          class="form-control mb-0"
          type="text"
          name="stock[symbol]"
          placeholder="Enter tick symbol"
          required
          autocomplete="off"
        />
        <div id="searchResult"></div>
          <button id="newButton" class="d-none">
            Confirm
          </button>
      </form>
    </div>

  </div>
</div>


<%- include("../partials/footer") %>
