<%- include("../partials/header") %>

<!-- <input id="searchStock" type="text" placeholder="Search stock by tick symbol" />
<div id="searchResult"></div> -->

<form action="/stocks/<%=currentUser._id%>" method="POST">
  <div class="container mgtop">
    <div class="row justify-content-center">
      <div class="col 4 col-lg-4">
        <div class="pl-3 text-center" id="banner">
          ADD A NEW STOCK
        </div>
        <div id="intro-signup">
          <div class="form-row">
            <div class="col-12">
              <input
                id="searchStock"
                class="form-control mb-0"
                type="text"
                name="stock[symbol]"
                placeholder="Enter tick symbol"
                value="<%=searchTerm%>"
                required
                autocomplete="off"
              />
            </div>
            <div class="col-12" id="searchResult"></div>
            <div class="signup-button">
              <button class="btn custom-signup-btn">
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- <form action="/stocks/<%=currentUser._id%>" method="POST">
  <div class="container mgtop">
    <div class="row justify-content-center">
      <div class="col 4 col-lg-4">
        <div class="pl-3 text-center" id="banner">
          ADD A NEW STOCK
        </div>
        <div id="intro-signup">
          <div class="form-row">
            <div class="col-12 ">
              <input
                class="form-control"
                type="text"
                name="stock[symbol]"
                placeholder="Enter Tick Symbol"
                value="<%=searchTerm%>"
                required
              />
            </div>
            <div class="signup-button">
              <button class="btn custom-signup-btn">
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> -->

<%- include("../partials/footer") %>
