<%- include("../partials/header") %>

<form action="/search" method="GET">
  <button>Search</button>
</form>

<h1>Add a new stock</h1>
<form action="/stocks/<%=currentUser._id%>" method="POST">
  <input
    type="text"
    name="stock[symbol]"
    placeholder="symbol for new stock"
    value="<%=searchTerm%>"
  />
  <button>Submit!</button>
</form>

<a href="/stocks/<%=currentUser._id%>">Go Back</a>

<%- include("../partials/footer") %>
