<%- include("../partials/header") %>

<div id="body-container">
  <div class="table-container">
    <h1 class="header-black">OVERALL <i></i></h1> 
    <div id="stock-banner" class="row">
      <div class="col-7">
        <div class="font-size-lg"><img src=<%=stock.profile.image%> alt="Stock Image" class="stock-image">
          <%=decodeURI(stock.name)%></div>
        <div class="font-size-sm"><%=stock.symbol%> - <%=stock.history[0].date%></div>
        <div class="font-size-sm">
          <%=Math.floor(stock.history[0].open/100)%>.<%=(stock.history[0].open)%100%> USD -
          <span 
            <% if (stock.history[0].change < 0) { %>
              class="negative" > <i class="fa fa-arrow-down"></i> <% } else { %> class="possitive" > <i class="fa fa-arrow-up"></i> <% } %>
              <%=stock.history[0].change%> (<%=stock.history[0].changepercent%>  %)
          </span>
        </div>
      </div>

      <div class="col-3"></div>
      <div class="col-2" >
        <div class="trade-button pb-0">
          <label class="btn btn-light">
            <a href="/transactions/<%=currentUser._id%>/<%=stock._id%>/new">
              <i class="fas fa-chart-line font-size-sm mr-1"></i>
              <span>Trade Options</span>
            </a>
          </label>
        </div>

        <div class="trade-button">
          <label class="btn btn-light">
            <a href="/transactions/<%=currentUser._id%>/<%=stock._id%>/new">
              <i class="far fa-bell font-size-sm mr-1"></i>
              <span>Set Alerts</span>
            </a>
          </label>
        </div>
      </div>

    </div>

    <div id="OHLCchart" class="pb-3"></div>
    <script>
      var stockinfo = JSON.parse('<%- JSON.stringify(stock) %>');
      makeOHLCChart(stockinfo);
    </script> 
    
    <!-- <canvas id="chart<%=stock.symbol%>" class="pb-3"</canvas>
    <script>
      var stockinfo = JSON.parse('<%- JSON.stringify(stock) %>');
      makeLineChart(stockinfo);
    </script> -->

  </div>

  <div class="row margin-top-2rem">
    <div class = "col-6">
      <h1 class="header-black"><i class="fa fa-chart-line mr-1"></i> LATEST TRADE <span class="float-right font-size-xsm d-sm-none "> <%=stock.history[0].date%></span></h1> 
      <div class="stat-table">
        <table class="table table-striped mb-0">
          <tbody>
            <tr>
              <th scope="row">High</th>
              <td><%=stock.history[0].high%></td>
            </tr>
            <tr>
              <th scope="row">Low</th>
              <td><%=stock.history[0].low%></td>
            </tr>
            <tr>
              <th scope="row">Open</th>
              <td><%=Math.floor(stock.history[0].open/100)%>.<%=(stock.history[0].open)%100%></td>
            </tr>
            <tr>
              <th scope="row">Close</th>
              <td><%=stock.history[0].close%></td>
            </tr>
            <tr>
              <th scope="row">Adjust Close</th>
              <td><%=stock.history[0].adjClose%></td>
            </tr>
            <tr>
              <th scope="row">Volume</th>
              <td><%=stock.history[0].volume%></td>
            </tr>
            <tr>
              <th scope="row">Unadjusted Volume</th>
              <td><%=stock.history[0].unadjustedVolume%></td>
            </tr>
            <tr>
              <th scope="row">VWAP</th>
              <td><%=stock.history[0].vwap%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class = "col-6">
      <h1 class="header-black"><i class="fa fa-address-card mr-1"></i> PROFILE <span class="float-right font-size-xsm "> <%=stock.profile.date%></span></h1> 
      <div class="profile-table">
        <table class="table table-striped mb-0">
          <tbody>
            <tr>
              <th class="w-25" scope="row">Beta</th>
              <td class="w-50"><%=stock.profile.beta%></td>
            </tr>
            <tr>
              <th class="w-25" scope="row">Exchange</th>
              <td class="w-50"><%=stock.profile.exchange%></td>
            </tr>
            <tr>
              <th class="w-25" scope="row">Industry</th>
              <td class="w-50"><%=stock.profile.industry%></td>
            </tr>
            <tr>
              <th class="w-25" scope="row">Sector</th>
              <td class="w-50"><%=stock.profile.sector%></td>
            </tr>
            <tr>
              <th class="w-25" scope="row">Website</th>
              <td class="w-50"><%=stock.profile.website%></td>
            </tr>
            <tr> 
              <th class="w-25" scope="row">CEO</th>
              <td class="w-50"><%=decodeURI(stock.profile.ceo)%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class = "col-12">
      <h1 class="header-black"><i class="fa fa-star mr-1"></i> KEY METRICS<span class="float-right font-size-xsm "> <%=stock.keymetrics.date%></span></h1> 
      <div class="stat-table">
        <table class="table table-striped mb-0">
          <tbody>
            <tr>
              <th scope="row">Market Cap</th>
              <td><%=stock.keymetrics.marketcap%></td>
              <th scope="row">Free Cash Flow per Share</th>
              <td><%=stock.keymetrics.FCFS%></td>
            </tr>
            <tr>
              <th scope="row">Net Income</th>
              <td><%=stock.keymetrics.netincome%></td>
              <th scope="row">Book Value per Share</th>
              <td><%=stock.keymetrics.BVS%></td>
            </tr>
            <tr>
              <th scope="row">Revenue per Share</th>
              <td><%=stock.keymetrics.rev%></td>
              <th scope="row">Price to Earning ratio</th>
              <td><%=stock.keymetrics.PEratio%></td>
            </tr>
            <tr>
              <th scope="row">Enterprise Value</th>
              <td><%=stock.keymetrics.EV%></td>
              <th scope="row">Price to Sales Ratio</th>
              <td><%=stock.keymetrics.PSratio%></td>
            </tr>
            <tr>
              <th scope="row">Debt to Equity</th>
              <td><%=stock.keymetrics.DE%></td>
              <th scope="row">Price to Book ratio</th>
              <td><%=stock.keymetrics.PBratio%></td>
            </tr>
            <tr>
              <th scope="row">Net Debt-to-EBITDA</th>
              <td><%=stock.keymetrics.netDebtToEBITDA%></td>
              <th scope="row">Price-to-cash Flow</th>
              <td><%=stock.keymetrics.PFCFratio%></td>
            </tr>
            <tr>
              <th scope="row">Dividend Yield</th>
              <td><%=stock.keymetrics.DY%></td>
              <th scope="row">Return on Equity</th>
              <td><%=stock.history[0].high%></td>
            </tr>
            <tr>
              <th scope="row">Payout ratio</th>
              <td><%=stock.keymetrics.payoutratio%></td>
              <th scope="row">Current ratio</th>
              <td><%=stock.keymetrics.currratio%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class = "col-6">
      <h1 class="header-black"><i class="fa fa-info-circle mr-1"></i> ABOUT</h1> 
      <div class="profile-table">
        <table class="table table-striped mb-0">
          <tbody>
            <tr>
              <td class="text-left"><%=decodeURI(stock.profile.description)%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      
    <div class = "col-6">
      <h1 class="header-black"><i class="fa fa-heartbeat mr-1"></i> FINANCIAL GROWTH <span class="float-right font-size-xsm d-sm-none"> <%=stock.financialgrowth.date%></span></h1> 
      <div class="profile-table">
        <table class="table table-striped mb-0">
          <tbody>
            <tr>
              <th class="w-40" scope="row">Revenue Growth</th>
              <td class="w-35
              <% if (!(stock.financialgrowth.revenueGrowth == null)) { %>
                <% if (parseFloat(stock.financialgrowth.revenueGrowth) < 0) { %>
                  negative"> 
                <% } else { %> 
                  possitive"> + 
                <% } %>
                <% } else {%>
                  ">
                <% } %> 
                  <%=stock.financialgrowth.revenueGrowth%>

              </td>
            </tr>
            <tr>
              <th class="w-40" scope="row">Net Income Growth</th>
              <td class="w-35
              <% if (!(stock.financialgrowth.netIncomeGrowth == null)) { %>
                <% if (parseFloat(stock.financialgrowth.netIncomeGrowth) < 0) { %>
                  negative"> 
                <% } else { %> 
                  possitive">
                <% } %>
                <% } else {%>
                  "> 
                <% } %> 
                <%=stock.financialgrowth.netIncomeGrowth%>

              </td>
            </tr>
            <tr>
              <th class="w-40" scope="row">Dividends per Share Growth</th>
              <td class="w-35
                <% if (!(stock.financialgrowth.dividendsperShareGrowth == null)) { %>
                  <% if (parseFloat(stock.financialgrowth.dividendsperShareGrowth) < 0) { %>
                    negative"> 
                  <% } else { %> 
                    possitive"> 
                  <% } %>
                <% } else {%>
                  ">
                <% } %>    
                <%=stock.financialgrowth.dividendsperShareGrowth%>
              </td>
            </tr>
            <tr>
              <th class="w-40" scope="row">Free Cash Flow Growth</th>
              <td class="w-35
              <% if (!(stock.financialgrowth.netIncomeGrowth == null)) { %>
                <% if (parseFloat(stock.financialgrowth.netIncomeGrowth) < 0) { %>
                  negative"> 
                <% } else { %> 
                  possitive"> 
                <% } %>
              <% } else {%>
                ">
              <% } %>    
              <%=stock.financialgrowth.freeCashFlowGrowth%>
              </td>
            </tr>
            <tr>
              <th class="w-40" scope="row">Gross Profit Growth</th>
              <td class="w-35
              <% if (!(stock.financialgrowth.grossProfitGrowth == null)) { %>
                <% if (parseFloat(stock.financialgrowth.grossProfitGrowth) < 0) { %>
                  negative"> 
                <% } else { %> 
                  possitive"> 
                <% } %>
              <% } else {%>
                ">
              <% } %>    
              <%=stock.financialgrowth.grossProfitGrowth%>
              </td>
            </tr>
            <tr> 
              <th class="w-40" scope="row">Earning per Share Growth</th>
              <td class="w-35
              <% if (!(stock.financialgrowth.epsgrowth == null)) { %>
                <% if (parseFloat(stock.financialgrowth.epsgrowth) < 0) { %>
                  negative">
                <% } else { %> 
                  possitive"> 
                <% } %>
              <% } else {%>
                ">
              <% } %>   
              <%=stock.financialgrowth.epsgrowth%>
              </td>
            </tr>
            <tr> 
              <th class="w-40" scope="row">Debt Growth</th>
              <td class="w-35
              <% if (!(stock.financialgrowth.debtGrowth == null)) { %>
                <% if (parseFloat(stock.financialgrowth.debtGrowth) < 0) { %>
                  negative"> 
                <% } else { %> 
                  possitive">
                <% } %>
              <% } else {%>
                ">
              <% } %>   
              <%=stock.financialgrowth.debtGrowth%>
              </td>
            </tr>
            <tr> 
              <th class="w-40" scope="row">Operating Cash Flow Growth</th>
              <td class="w-35
              <% if (!(stock.financialgrowth.operatingCashFlowGrowth == null)) { %>
                <% if (parseFloat(stock.financialgrowth.operatingCashFlowGrowth) < 0) { %>
                  negative"> 
                <% } else { %> 
                  possitive">
                <% } %>
              <% } else {%>
                ">
              <% } %>   
              <%=stock.financialgrowth.operatingCashFlowGrowth%>
              </td>
            </tr>
            <tr> 
              <th class="w-40" scope="row">Operating Income Growth</th>
              <td class="w-35
              <% if (!(stock.financialgrowth.operatingIncomeGrowth == null)) { %>
                <% if (parseFloat(stock.financialgrowth.operatingIncomeGrowth) < 0) { %>
                  negative"> 
                <% } else { %> 
                  possitive">
                <% } %>
              <% } else {%>
                ">
              <% } %>   
              <%=stock.financialgrowth.operatingIncomeGrowth%>
              </td>
            </tr>
            <tr> 
              <th class="w-40" scope="row">Asset Growth</th>
              <td class="w-35
              <% if (!(stock.financialgrowth.assetGrowth == null)) { %>
                <% if (parseFloat(stock.financialgrowth.assetGrowth) < 0) { %>
                  negative"> 
                <% } else { %> 
                  possitive"> 
                <% } %>
              <% } else {%>
                ">
              <% } %>   
              <%=stock.financialgrowth.assetGrowth%>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12">
      <div class="table-container">
        <h1 class="header-black"><i class="fa fa-chart-bar mr-1"></i> RATINGS <span class="float-right font-size-xsm "> <%=stock.rating.date%></span></h1> 
        <canvas id="ratingChart" class="pb-3" ></canvas>
        <script>
          var stockinfo = JSON.parse('<%- JSON.stringify(stock) %>');
          makeRatingChart(stockinfo);
        </script> 
      </div>
    </div>

  </div>
</div>

<%- include("../partials/footer") %>
