<%- include("../partials/header") %>

<div id="body-container">
  <div class="table-container">
    <h1 class="header-black">OVERALL <i></i></h1> 
    <div id="stock-banner" class="row">
      <div class="col-7">
        <div class="font-size-lg"><%=stock.name%></div>
        <div class="font-size-sm"><%=stock.symbol%> - <%=stock.history[0].time%></div>
        <div class="font-size-sm">
          <%=Math.floor(stock.history[0].price/100)%>.<%=(stock.history[0].price)%100%> USD -
          <span 
            <% if (stock.history[0].change < 0) { %>
              class="negative" > <i class="fa fa-arrow-down"></i> <% } else { %> class="possitive" > <i class="fa fa-arrow-up"></i> <% } %>
              <%=stock.history[0].change%> (<%=stock.history[0].changepercent.toFixed(2)%>  %)
          </span>
        </div>
      </div>

      <div class="col-5" >
        <div id="button-light">
          <label class="btn btn-light">
            <a href="/purchases/<%=currentUser._id%>/<%=stock._id%>/new">
              <i class="fas fa-chart-line font-size-sm"></i>
              <span>Trade Options</span>
            </a>
          </label>
        </div>
      </div>
    </div>
    <canvas id="chart<%=stock.symbol%>" class="pb-3"></canvas>
    <script>
      var stockinfo = JSON.parse('<%- JSON.stringify(stock) %>');
      var ctx = document.getElementById('chart<%=stock.symbol%>').getContext('2d');
      makeGraph(stockinfo, ctx);
    </script>
  </div>

  <div class="row margin-top-2rem">
    <div class = "col-6">
      <h1 class="header-black">BASIC STATS <i></i></h1> 
      <div class="stat-table">
        <table class="table table-striped mb-0">
          <tbody>
            <tr>
              <th scope="row">High</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Low</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Open</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Close</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Adjust Close</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Volumn</th>
              <td>1.2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class = "col-6">
      <h1 class="header-black">KEY STATS <i></i></h1> 
      <div class="stat-table">
        <table class="table table-striped mb-0">
          <tbody>
            <tr>
              <th scope="row">High</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Low</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Open</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Close</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Adjust Close</th>
              <td>1.2</td>
            </tr>
            <tr>
              <th scope="row">Volumn</th>
              <td>1.2</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<!-- <div class="table-container">
  <h1 class="header-black">Asset Management <i></i></h1> 
  <table class="table table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">Current Balance</th>
        <th scope="col">Quantity Owned</th>
        <th scope="col">Purchased Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10000</td>
        <td>44</td>
        <td>$1000</td>
      </tr>
    </tbody>
  </table>
</div> -->


</div>

<!-- 
  <a
    class="btn btn-success"
    href="/purchases/<%=currentUser._id%>/<%= stock._id %>/new"
    >Buy Stock</a
  >

  <form
    action="/stocks/<%=currentUser._id%>/<%= stock._id%>?_method=DELETE"
    method="POST"
  >
    <button class="btn btn-danger">Delete</button>
  </form>
</div> -->

<%- include("../partials/footer") %>
