<%- include("../partials/header") %>

<div id="testing">
    <h1>SHOW.EJS</h1>

    <h1><%=stock.name%></h1>
    
    <h2><%=stock.description%></h2>

    <h2><%=stock.price%></h2>

    <a class="btn btn-success" href="/stocks/<%=currentUser._id%>/<%= stock._id %>/purchases/new">Buy Stock</a>

    <form action="/stocks/<%=currentUser._id%>/<%= stock._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

<%- include("../partials/footer") %>

