<%- include("../partials/header") %>

<div id="testing">
    <h1>SHOW.EJS</h1>

    <h1><%=stock.name%></h1>
    
    <h2><%=stock.description%></h2>

    <h2><%=stock.price%></h2>

    <a class="btn btn-success" href="/dashboard/<%=currentUser._id%>/<%= stock._id %>/purchases/new">Buy Stock</a>

</div>

<%- include("../partials/footer") %>

