<%- include("../partials/header") %>

<div id="body-container">
  <div class="row justify-content-center">
    <div class="col-8 col-md-12 col-lg-10 col-xl-8 min-width-md">">
      <div class="card-container">
        <h1 class="header-black">NEW ALERT </i></h1>
        <form action="/users/<%=currentUser._id%>/alerts/stocks/<%=alert.stockid%>" method="POST">
          <div class="form-row pt-3">
            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Tick Symbol:</div>
                <div class="col-7 ">
                  <input 
                    type="text"
                    class="form-control"
                    value = <%=alert.symbol%> 
                  />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Alert Price</div>
                <div class="col-7 ">
                  <input 
                    type="number"
                    class="form-control"
                    name="alertPrice" 
                    step="0.01"
                    min = 0
                    <% if (alert.alertPrice != null) { %>
                      placeholder=<%=alert.alertPrice%>
                    <% } else {%>
                      placeholder= 0.0
                    <% } %>
                  />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-6"> </div>
                <div class="col-2 two-button-container pr-0 mr-0"">
                  <button class="btn green-button">
                    Confirm
                  </button>
                </div>
        </form>
        <form action="/users/<%=currentUser._id%>/alerts/stocks/<%=alert.stockid%>?_method=DELETE"method="POST">
                <div class="col-2 two-button-container">
                  <button class="btn btn-danger">
                    Delete Alert
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
