<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Change User Info</h1>
    <div style="width: 30%; margin: 25px auto;">
      <h1>Basic Info</h1>
      <form action="/users/<%= currentUser._id %>?_method=PUT" method="POST">
        <input
          type="text"
          name="user[username]"
          value="<%= currentUser.username %>"
        />
        <input
          type="text"
          name="user[firstname]"
          value="<%= currentUser.firstname %>"
        />
        <input
          type="text"
          name="user[lastname]"
          value="<%= currentUser.lastname %>"
        />
        <input
          type="email"
          name="user[email]"
          value="<%= currentUser.email %>"
        />
        <button>Confirm Change</button>
      </form>

      <form action="/users/<%= currentUser._id %>?_method=PUT" method="POST">
        <h1>Change Password</h1>
        <input
          type="password"
          name="user[password]"
          placeholder="New password"
        />
        <button>Confirm Change</button>
      </form>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
