<%- include("../partials/header") %>

<div id="user-link" class="d-none">localhost:3000/users/<%=currentUser._id %></div>
<div class="container mgtop">
  <div class="row justify-content-center">
    <div class="col 10 col-lg-8">

      <div id="intro-signup" class="border-black">
        <h1 class="header-black">Basic Infomation</h1>
        <div class="form-row pt-3">

          <!-- username -->
          <div class="col-12">
            <div class="row">
              <div class="col-3 user-info">User Name:</div>
              <div class="col-7 user-info">
                <%=currentUser.username %>
              </div>
            </div>
          </div>

          <!-- email -->
          <div class="col-12">
            <div class="row">
              <div class="col-3 user-info">Email:</div>
              <div class="col-7 user-info">
                <%=currentUser.email %>
              </div>
              <div class="col-2 signup-button">
                <i class="fas fa-edit fa-lg editEmail"></i>
              </div>
            </div>

            <div id="editEmailForm" class="editForm">
              <form action="/users/<%= currentUser._id %>?_method=PUT" method="POST">
              <div class="row">
                  <div class="col-3"></div>
                  <div class="col-6 pl-5">
                    <input
                      type="text"
                      class="form-control"
                      name="email"
                      value=<%=currentUser.email %>
                    />
                  </div>
                  <div class="col-2 signup-button">
                    <button class="btn custom-signup-btn">
                      Confirm
                    </button>
                  </div>
              </div>
              </form>
            </div>
          </div>

          <!-- firstname -->
          <div class="col-12">
            <div class="row">
              <div class="col-3 user-info">First Name:</div>
              <div class="col-7 user-info">
                <%=currentUser.firstname %>
              </div>
              <div class="col-2 signup-button">
                <i class="fas fa-edit fa-lg editFirst"></i>
              </div>
            </div>

            <div id="editFirstForm" class="editForm">
              <form  action="/users/<%= currentUser._id %>?_method=PUT" method="POST">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 pl-5">
                      <input
                        type="text"
                        class="form-control"
                        name="firstname"
                        value=<%=currentUser.firstname %>
                      />
                    </div>
                    <div class="col-2 signup-button">
                      <button class="btn custom-signup-btn">
                        Confirm
                      </button>
                    </div>
                </div>
              </form>
            </div>
          </div>

          <!-- lasstname -->
          <div class="col-12">
            <div class="row">
              <div class="col-3 user-info">Last Name:</div>
              <div class="col-7 user-info">
                <%=currentUser.lastname %>
              </div>
              <div class="col-2 signup-button">
                <i class="fas fa-edit fa-lg editLast"></i>
              </div>
            </div>
            <div id="editLastForm" class="editForm">
              <form action="/users/<%= currentUser._id %>?_method=PUT" method="POST">
              <div class="row">
                  <div class="col-3"></div>
                  <div class="col-6 pl-5">
                    <input
                      type="text"
                      class="form-control"
                      name="lastname"
                      value=<%=currentUser.lastname %>
                    />
                  </div>
                  <div class="col-2 signup-button">
                    <button class="btn custom-signup-btn">
                      Confirm
                    </button>
                  </div>
              </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>

      <!-- Password -->

      <form action="/users/<%= currentUser._id %>?_method=PUT" method="POST">

      <div id="intro-signup" class="border-black mg-2">
        <h1 class="header-black">Password</h1>
        
        <div class="form-row pt-3">

          <div class="col-12">
            <div class="row">
              <div class="col-5 user-info">Current Password:</div>
              <div class="col-6 ">
                <input
                  type="password"
                  class="form-control"
                  name="oldpassword"
                  required
                />
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-5 user-info">New Password:</div>
              <div class="col-6 ">
                <input
                  type="password"
                  class="form-control"
                  name="newpassword"
                  required
                />
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-5 user-info">Re-type New Password:</div>
              <div class="col-6 ">
                <input
                  type="password"
                  class="form-control"
                  name="confirmnewpassword"
                  required
                />
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-9"> </div>
              <div class="col-2 signup-button">
                <button class="btn custom-signup-btn">
                  Confirm
                </button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </form>

    </div>
  </div>
</div>

<%- include("../partials/footer") %>
