<%- include("../partials/header") %>

<% if (currentUser) { %>

<div id="body-container">
  <!-- Assets   -->
  <% if (assets.length === 0) { %>
  <div>
    <h1 class="header-black">Assets <a href="/users/<%=currentUser._id%>/transactions/new"><i
          class="fa fa-plus float-right"></i></a></h1>
    <div class="card-container card-center">
      You don't own any stock
    </div>
  </div>

  <div class="margin-top-2rem">
    <h1 class="header-black">Transaction History</h1>
    <div class="card-container card-center">
      You haven't made any transactions
    </div>
  </div>

  <% } else { %>
  <div class="table-container">
    <h1 class="header-black">ASSETS <a href="/users/<%=currentUser._id%>/transactions/new"><i
          class="fa fa-plus float-right"></i></a></h1>
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th scope="col" class="first-th">Company Name</th>
          <th scope="col">Symbol</th>
          <th scope="col">Total Price</th>
          <th scope="col">Total Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% assets.forEach(function(stock){ %>
        <% if (stock.totalquantity > 0) { %>
        <tr>
          <th scope="row">
            <div class="row-header">
              <span class="add-to-tracked" title="Add to tracked stocks">
                <i class="fa fa-eye"></i>
              </span>
              <form class="d-none"
                action="/users/<%=currentUser._id%>/subscriptions/"
                method="POST">
                <input 
                type="text"
                name="stock[symbol]"
                <% if(stock) { %>
                  value = "<%=stock.symbol%>"
                <% } %>
              />
                <button type="submit" id="addToTrackedButton"></button>
              </form>
              <%=stock.name%>
            </div>
          </th>
          <td><%=stock.symbol%></td>
          <td><%=Math.floor(stock.totalprice/100)%>.<%=(stock.totalprice)%100%></td>
          <td>
            <%=stock.totalquantity%>
            <span class="d-none">
              <a href="/users/<%=currentUser._id%>/stocks/<%=stock.stockid%>">
                <i class="fa-info"></i>
              </a>
            </span>
          </td>
        </tr>
        <% } %>
        <% }); %>
      </tbody>
    </table>
  </div>


  <div class="table-container margin-top-2rem">
    <h1 class="header-black">TRANSACTION HISTORY</h1>
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th scope="col" class="first-th">Company Name</th>
          <th scope="col">Symbol</th>
          <th scope="col">Type</th>
          <th scope="col">Time</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.forEach(function(transaction){ %>
        <tr>
          <th scope="row">
            <div class="row-header">
              <%=transaction.name%>
            </div>
          </th>
          <td><%=transaction.symbol%></td>
          <td><%=transaction.type%></th>
          <td><%=transaction.time%></td>
          <td><%=transaction.price%></td>
          <td><%=transaction.quantity%></td>
          <td <% if (transaction.type === "Purchase") { %> class="negative"> -<% } else { %>
            class="positive" >
            +<% } %><%=Math.floor((transaction.quantity*transaction.price)/100)%>.<%=(transaction.quantity*transaction.price)%100%>
            <span class="d-none">
              <a href="/users/<%=currentUser._id%>/stocks/<%=transaction.stockid%>">
                <i class="fa-info"></i>
              </a>
            </span>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <% } %>
</div>


<% } %>
<%- include("../partials/footer") %>