<%- include("../partials/header") %>

<div id="body-container">
  <div class="row justify-content-center">
    <div class="col-8 col-md-12 col-lg-10 col-xl-8 min-width-md">">
      
      <div class="card-container">
        <h1 class="header-black">PURCHASE STOCK <i class="fa fa-plus float-right show-form"></i></h1>
        <form action="/transactions/<%=currentUser._id%>" method="POST">
          <div class="form-row pt-3">
            <div class="col-12">
              <div class="row">
                <div id="tickSymbolDiv" class="col-3 card-row">Tick Symbol:</div>
                <div class="col-7 ">
                  <input 
                    type="text"
                    class="form-control transaction-symbol"
                    name="transaction[symbol]"
                    <% if(stock) { %>
                      value = <%=stock.symbol%> 
                    <% } %>
                    required
                    readonly="readonly" 
                  />
                </div>
                <div class="col-1 button-container">
                  <i onclick="togglePopup()" class="fas fa fa-search fa-lg vertical-middle"></i>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Name:</div>
                <div class="col-7 ">
                  <input 
                    type="text"
                    class="form-control transaction-name"
                    name="transaction[name]"
                    <% if(stock) { %>
                      value = "<%=stock.name%>"
                    <% } %>
                    required
                    readonly="readonly" 
                  />
                </div>
              </div>
            </div>

            <div class="d-none">
              <input 
                type="text"
                class="transaction-stockid"
                name="transaction[stockid] "
                <% if(stock) { %>
                  value = "<%=stock._id%>"
                <% } %>
              />
            </div>

            <div class="d-none">
              <input 
                type="text"
                name="transaction[type]"
                value = "Purchase"
              />
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Price</div>
                <div class="col-7 ">
                  <input
                    type="number"
                    step="0.01"
                    min = 0
                    class="form-control transaction-price"
                    name="transaction[price]"
                    <% if(stock) { %>
                      value= <%=Math.floor(stock.history[0].open/100)%>.<%=(stock.history[0].open)%100%> 
                    <% } %>
                    required
                  />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Time:</div>
                <div class="col-7 ">
                  <input
                    type="date"
                    class="form-control transaction-time"
                    name="transaction[time]"
                    <% if(stock) { %>
                      value = <%- new Date().toISOString().substring(0, 10); %> 
                    <% } %>
                    required
                  />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Quantity:</div>
                <div class="col-7 ">
                  <input
                    type="number"
                    class="form-control"
                    min = 0
                    name="transaction[quantity]"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-7"> </div>
                <div class="col-2 button-container">
                  <button class="btn green-button">
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div id="sellStock" class="card-container margin-top-2rem">
        <h1 class="header-black">SELL STOCK <i class="fa fa-plus float-right show-form"></i></h1>
        <form action="/transactions/<%=currentUser._id%>" method="POST" class="display-none">
          <div class="form-row pt-3">
            <div class="col-12">
              <div class="row">
                <div id="tickSymbolDiv" class="col-3 card-row">Tick Symbol:</div>
                <div class="col-7 ">
                  <input 
                    type="text"
                    class="form-control transaction-symbol"
                    name="transaction[symbol]"
                    <% if(stock) { %>
                      value = <%=stock.symbol%> 
                    <% } %>
                    required
                    readonly="readonly" 
                  />
                </div>
                <div class="col-1 button-container">
                  <i onclick="togglePopup()" class="fas fa fa-search fa-lg vertical-middle"></i>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Name:</div>
                <div class="col-7 ">
                  <input 
                    type="text"
                    class="form-control transaction-name"
                    name="transaction[name]"
                    <% if(stock) { %>
                      value = "<%=stock.name%>"
                    <% } %>
                    required
                    readonly="readonly" 
                  />
                </div>
              </div>
            </div>

            <div class="d-none">
              <input 
                type="text"
                class="transaction-stockid"
                name="transaction[stockid]"
                <% if(stock) { %>
                  value = "<%=stock._id%>"
                <% } %>
              />
            </div>

            <div class="d-none">
              <input 
                type="text"
                name="transaction[type]"
                value = "Sell"
              />
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Price</div>
                <div class="col-7 ">
                  <input
                    type="number"
                    step="0.01"
                    min = 0
                    class="form-control transaction-price"
                    name="transaction[price]"
                    <% if(stock) { %>
                      value= <%=Math.floor(stock.history[0].open/100)%>.<%=(stock.history[0].open)%100%> 
                    <% } %>
                    required
                  />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Time:</div>
                <div class="col-7 ">
                  <input
                    type="date"
                    class="form-control transaction-time"
                    name="transaction[time]"
                    <% if(stock) { %>
                      value = <%- new Date().toISOString().substring(0, 10); %> 
                    <% } %>
                    required
                  />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-3 card-row">Quantity:</div>
                <div class="col-7 ">
                  <input
                    type="number"
                    class="form-control"
                    name="transaction[quantity]"
                    min = 0
                    <% if(stock) { %>
                      max = "<%=transaction.totalquantity%>"
                      placeholder = "Quantity owned: <%=transaction.totalquantity%>"
                    <% } %>
                    required
                  />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-7"> </div>
                <div class="col-2 button-container">
                  <button class="btn green-button">
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="popup" id="popup-search-bar">
  <div class="overlay">
    <div class="fa fa-times" onclick="togglePopup()"></div>
  </div>
  <div class="content">
    <input
      id="searchKey"
      class="form-control mb-0"
      type="text"
      name="stock[symbol]"
      placeholder="Enter tick symbol"
      required
      autocomplete="off"
    />
    <div id="searchResult"></div>
  </div>
</div>

<form class="d-none" id="addStockForm" action="/stocks/<%=currentUser._id%>" method="POST">
  <input
    id="stock-symbol"
    type="text"
    name="stock[symbol]"
  />
  <input
    id="stock-page"
    type="text"
    value = "transaction"
    name="stock[page]"
  />
</form>

<div class="popup" id="pageload">
  <div class="overlay"></div>
  <div class="content">
    <i class="fa-spin fa fa-spinner"></i>
    <div>Processing request...</div>
  </div>
</div>

<%- include("../partials/footer") %>
